<a href="https://colab.research.google.com/github/Saisagarmohapatra/Sai_sagar_AIML_2001206180/blob/main/3-2-2023%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input('ENTER YOUR CHOICE='))
for i in list:
  c=n*i
  print(c)

ENTER YOUR CHOICE=3
3
6
9
12
15
18
21
24
27
30

In [4]:
LIST=[10,30,23,43,65,12]
SUM=0
for i in LIST:
  SUM=SUM+i
  print('the sum is:',SUM)

the sum is: 10
the sum is: 40
the sum is: 63
the sum is: 106
the sum is: 171
the sum is: 183

In [7]:
#USING range() function in for loop
n=int(input('ENTER THE NUMBER ='))
for i in range(1,11):
  c=n*i
  print(n,'*',i,'=',c)

ENTER THE NUMBER =10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [8]:
n=int(input('ENTER THE NUMBER ='))
for i in range(2,n,2):
  print(i)

ENTER THE NUMBER =20
2
4
6
8
10
12
14
16
18

In [20]:
n=int(input('ENTER THE NUMBER ='))
sum=0
for i in range(2,n,2):
   sum=sum+i
print('sum is=',sum)

ENTER THE NUMBER =20
sum is= 90

In [21]:
list=['sai','sagar','sitara','tanu','raj']
for i in range(len(list)):
  print('hello',list[i])

hello sai
hello sagar
hello sitara
hello tanu
hello raj

In [25]:
for i in range(5):
  for j in range(5):
   print(i+1,end='')
  print('')

11111
22222
33333
44444
55555

In [26]:
row=int(input('ENTER THE NUMBER OF ROWS ='))
for i in range(0,row+1):
  for j in range(i):
   print('*',end='')
  print()

ENTER THE NUMBER OF ROWS =5

*
**
***
****
*****

In [30]:
s=int(input('ENTER THE NUMBER ='))
rev=0
while s>0:
  d=int(s%10)
  rev=(rev*10+d)
  s=int(s/10)
print('reverse =',rev)

ENTER THE NUMBER =123
reverse = 321