<a href="https://colab.research.google.com/github/Saisagarmohapatra/Sai_sagar_AIML_2001206180/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def sum(a,b):
  return(a+b)
print(sum(9,7))

16

In [5]:
def sum(a,b):
  return(a+b)
a=int(input('enter the first number = '))
b=int(input('enter the second number = '))
print(sum(a,b))

enter the first number = 4
enter the second number = 5
9

In [14]:
def pattern(rows):
  for i in range(0,rows+1):
    for j in range(i):
      print(i,end='')
    print()
rows=int(input('enter the rows = '))
pattern(rows)

enter the rows = 5

1
22
333
4444
55555

In [15]:
def pattern(rows):
  for i in range(0,rows):
    for j in range(i,rows):
      print(rows-i,end='')
    print()
rows=int(input('enter the rows = '))
pattern(rows)

enter the rows = 7
7777777
666666
55555
4444
333
22
1

In [17]:
def greet():
  message='hello'
  print('local',message)
greet()
message='ABIT CSE'
print(message)

local hello
ABIT CSE

In [19]:
add=lambda num:num+4
print(add(6))

10

In [20]:
a=lambda x,y:x+y
print(a(1,2))

3

In [23]:
a=lambda x,y,z:x+y+z
x=int(input('enter the value of x = '))
y=int(input('enter the value of y = '))
z=int(input('enter the value of z = '))
print(a(x,y,z))

enter the value of x = 8
enter the value of y = 8
enter the value of z = 7
23

In [24]:
def factorial(x):
  if x==1:
    return 1
  else:
    return(x*factorial(x-1))
num=int(input('enter the number ='))
print(factorial(num))

enter the number =3
6

In [27]:
def fib(num):
  if num==0 or num==1:
    return num
  else:
     return(fib(num-1)+fib(num-2))
num=int(input('enter number of terms = '))
for i in range(num):
  print(fib(i))

enter number of terms = 7
0
1
1
2
3
5
8

In [30]:
import math as sai
pie=sai.pi
print('the value of pi is : ',pie)

the value of pi is :  3.141592653589793

In [31]:
import random
for i in range(10):
    print(random.randint(1,25))

22
18
11
4
22
22
2
11
19
12

In [32]:
import random
import math
for i in range(10):
    print(random.randint(1,25))
print(math.pi)

9
12
7
9
22
1
23
21
23
5
3.141592653589793