<a href="https://colab.research.google.com/github/Saisagarmohapatra/Sai_sagar_AIML_2001206180/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("%10.3e"%(356.08977))

 3.561e+02

In [10]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
for i in range(n):
   arr[i]=int(input())
print('Array Elements :', arr)

Enter Size:2
Enter 2 element :
11
22
Array Elements : [11 22]

In [4]:
import numpy
m = int (input('Enter Row Size:'))
n = int (input('Enter Column Size:'))
arr = numpy.ndarray(shape=(m,n),dtype=int)
print('Size :', arr.size)
print('Shape :', arr.shape)
print('Dimension :', arr.ndim)

Enter Row Size:2
Enter Column Size:3
Size : 6
Shape : (2, 3)
Dimension : 2

In [13]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
def oddcount(a,o):
  if a%2!=0:
    o+=1
  return o
def evencount(a,e):
  if a%2==0:
    e+=1
  return e
o=0
e=0
for i in range(n):
  arr[i]=int(input())
  o=oddcount(arr[i],o)
  e=evencount(arr[i],e)
print('Array Elements :', arr)
print('number of odd numbers are = ',(o))
print('number of even numbers are = ',(e))

Enter Size:4
Enter 4 element :
3
2
7
8
Array Elements : [3 2 7 8]
number of odd numbers are =  2
number of even numbers are =  2

In [15]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)

[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [14]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
print('Slicing...... .....')
res=arr[:,:]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [17]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
print('Slicing...... .....')
res=arr[:,:]
print(res)
s1=arr[0:3,1:3]
print(s1)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[10 20 30]
 [40 50 60]
 [70 80 90]]
[[20 30]
 [50 60]
 [80 90]]

In [19]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
print('Slicing...... .....')
res=arr[:,:]
print(res)
s1=arr[1:3,1:3]
print(s1)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[10 20 30]
 [40 50 60]
 [70 80 90]]
[[50 60]
 [80 90]]

In [20]:
str1 = "HELLO Sai Sagar" 
slic = slice(0,10,3)
slic2 = slice(-1,0,-3)  
str2 = str1[slic] 
str3 = str1[slic2] 
print(str2) 
print(str3)

HLS
rai L

In [23]:
str='abit is an Engineering college'
print(str[0:27:5])
str1=slice(0,27,3)
str2=str[str1]
print(str2)

ai nnl
atsnnnrgo

In [28]:
import pandas as pd
info =['roll','age','name','department','credits','semester']
df=pd.DataFrame(info)
print(df)
print('......')
df

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
            0
0        roll
1         age
2        name
3  department
4     credits
5    semester
......

            0
0        roll
1         age
2        name
3  department
4     credits
5    semester